<?xml version="1.0" encoding="utf-8"?>
<packages>
  //for IAuthenticationManager class
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  //for GetOwinContext() extension method
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
</packages>