
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><h2 class="text-xl-center">Registration succeded!</h2></p>
        <p class="text-xl-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back..</a>
        </p>
    </div>
</body>
</html>
