
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Registration succeeded";
    ViewBag.IsUserSignUp = true;
}

<div>
    <p><h2 class="text-xl-center">Registration succeded!</h2></p>
    <p class="text-xl-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back</a>
    </p>
</div>